.b-navbar{
    position: sticky;
    top: 0;
    width: 100%;
}
//=================== card ====================
.title-custom{
    margin-left:15px ;
}
.icon-color-vote{
    color:red !important;
}
.icon-color-none{
    color:gray !important;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    cursor: pointer;
   
}
.card-layout{
    margin-top: 10px !important;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;    
    max-width: 50%;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 //=================== pagination ====================

 .pagi-layout{
    margin: 15px !important;  
 }