<template>
    <div>
        <b-navbar type="dark" variant="dark">
            <b-navbar-nav>
              <b-nav-item href="#">HomeWork</b-nav-item>
            </b-navbar-nav>
        </b-navbar>
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
