<style lang="scss">
@import "../../sass/layout.scss";
</style>
<template>
    <div>
        <layout-component></layout-component>  
        <div>
            <span class="title-custom">items : {{start_item}} - {{end_item}} of {{list_items.length}}</span>
        </div>    
        <div aligh="center">
            <b-card-group deck> 
                <div class="col-lg-3 col-md-12 card-layout" 
                        v-for="(item, id) in paginationCards" 
                        :key="id">
                    <b-card :img-src="item.image_url"
                            img-alt="Image" 
                            img-top
                            class="card"
                            @click="showModal(item.image_url)"
                    >
                        <b-card-text class="text">
                            {{item.title}}
                        </b-card-text>
                        <b-card-text>
                            {{item.created_at}}
                        </b-card-text>
                        <b-card-text> 
                            <p v-if="item.vote != 0">
                            <span v-for="vote in item.vote">
                                <font-awesome-icon class="icon-color-vote" icon="star" />
                            </span>
                            </p>
                            <p v-else>
                                    <font-awesome-icon class="icon-color-none" icon="star" />
                                </p>
                        </b-card-text>
                        <b-card-text>
                            $ {{item.price}}
                        </b-card-text>
                    </b-card>
                </div>
            </b-card-group>
            <div v-viewer="options" class="images clearfix" hidden>
                <template v-for="{id,image} in model_image">
                    <img :src="image" :data-source="image" class="images" :key="id">
                </template>
            </div>
            <div aligh="left" class="pagi-layout pagination justify-content-end">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="list_items.length"
                    :per-page="perPage"
                    >
                </b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import "viewerjs/dist/viewer.css";
import Viewer from "v-viewer";
Vue.use(Viewer);
    export default {
        mounted() {
            this.showItem();
        },
        data(){
            return{
                list_items:[],
                perPage: 8,
                currentPage: 1,
                model_image:[], 
                start_item:0,
                end_item:0,
                options: {
                    view: 0,
                    url: "data-source",
                    title: false,
                    scalable: false,
                },
            }
        },
        methods: {
            showItem(){
                axios.get(window.location.href+'show')
                .then(response => {
                    this.list_items = response.data;
                    this.list_items.forEach(element => {
                        element.price = element.price.toFixed(2);
                    });
                });
            },
            showModal(image){
                this.model_image = [];
                this.model_image.push({'image' : image});
                const viewer = this.$el.querySelector('.images').$viewer
                viewer.show()

            }
        },
        computed: {
            paginationCards() {
                const { currentPage, perPage } = this;
                const start = (currentPage - 1) * perPage;
                const end = currentPage * perPage;
                this.start_item = start+1;
                console.log(this.list_items.slice(start, end).length);
                if(perPage == this.list_items.slice(start, end).length){
                    this.end_item = currentPage * perPage
                }else{
                    this.end_item = (currentPage * perPage) - this.list_items.slice(start, end).length;
                }
                
                return this.list_items.slice(start, end);
            },
        }
    }
</script>
